# URL of your deployed Google Apps Script web app.
# See google-apps-script/Code.gs for setup steps.
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzP8gUKHwKEHoiCVMEvJTKUBidVDGJmPSlRyNCgJRrekPpthiG1T0IvMPrJlHnhtVmopQ/exec
