# URL of your deployed Google Apps Script web app.
# See google-apps-script/Code.gs for setup steps.
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzVND8YiI85HyfVvwIqZ5nKQCiVbeX52A1gVs7fVocRVq7bEZz1apthr8zZgMFrVehnDA/exec
